/.idea/.idea.AdventOfCode/.idea/.gitignore
/AdventOfCode/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AdventOfCode/bin/Debug/net6.0/AdventOfCode
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.AssemblyInfo.cs
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.AssemblyInfoInputs.cache
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.assets.cache
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.csproj.AssemblyReference.cache
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.csproj.CoreCompileInputs.cache
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.csproj.FileListAbsolute.txt
/AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.props
/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.targets
/AdventOfCode/bin/Debug/net6.0/AdventOfCode.deps.json
/AdventOfCode/bin/Debug/net6.0/AdventOfCode.dll
/AdventOfCode/obj/Debug/net6.0/ref/AdventOfCode.dll
/AdventOfCode/obj/Debug/net6.0/refint/AdventOfCode.dll
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.dll
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.GeneratedMSBuildEditorConfig.editorconfig
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.genruntimeconfig.cache
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.GlobalUsings.g.cs
/AdventOfCode/bin/Debug/net6.0/AdventOfCode.pdb
/AdventOfCode/obj/Debug/net6.0/AdventOfCode.pdb
/AdventOfCode/bin/Debug/net6.0/AdventOfCode.runtimeconfig.json
/AdventOfCode/obj/Debug/net6.0/apphost
/.idea/.idea.AdventOfCode/.idea/encodings.xml
/.idea/.idea.AdventOfCode/.idea/indexLayout.xml
/AdventOfCode/obj/project.assets.json
/AdventOfCode/obj/project.nuget.cache
/AdventOfCode/obj/project.packagespec.json
/AdventOfCode/obj/rider.project.model.nuget.info
/AdventOfCode/obj/rider.project.restore.info
